h1 {
  text-align:center;
}
header {
  text-align:center;
}
nav a {
  padding-left:10px;
  padding-right:10px;
  background-color:#dbc393;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
figcaption {
  font-size: small;
  text-align: center;
}
#featured-property p{ 
  text-align:center;
  max-width: 800px;
  margin: auto;
}
div {
  float: left;
  background-color: #dbc393;
  text-align: center;
  min-width: 25%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
